span.body {
  font-family: "JetBrains Mono", monospace;
}
mat-toolbar {
  padding: 0;
  height: 8vh;
  display: flex;
  flex-direction: row;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 200%;
  color: var(--fashion-fuchsia);

  span.logo {
    height: 80%;
    width: 7vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    align-content: center;
    img {
      height: 100%;
    }
  }
  span.title {
    width: 92vw;
  }
}
mat-drawer-container {
  min-height: 92vh;

  mat-drawer {
    width: 7vw;
    background-color: var(--medium-blue);
    color: var(--old-lace);

    span.options {
      padding-top: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      h2 {
        padding: 2% 0 2% 0;
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-family: "JetBrains Mono", monospace;
      }
      h2:hover {
        cursor: pointer;
      }
    }
  }
  mat-drawer-content {
    // width: 93vw;
    width: 100%;
    padding-top: 1%;
    background-color: var(--old-lace);
    min-height: 92vh;
    display: flex;
    flex-direction: row;
    div.coin {
      height: 100%;
      width: 50%;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      div.coin__stats {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        h1 {
          color: var(--blue-violet);
          font-family: "JetBrains Mono", monospace;
        }
      }

      app-ticker {
        margin: 2.5%;
      }
      app-coin-stats {
      }
    }
    div.general {
      width: 50%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      width: auto;
      align-items: flex-start;
      app-market-cap {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    div.general {
      width: 100%;
    }
    div.coin {
      width: 100%;
    }
    mat-drawer-content {
      flex-direction: column;
    }
  }
}
