/* You can add global styles to this file, and also import other style files */
@import url("./styles/palette.scss");

html,
body {
  height: 100%;
  font-family: "JetBrains Mono", monospace;
}
body {
  margin: 0;
}
