<mat-toolbar>
  <span class="logo">
    <img src="../../../assets/icon.png" alt="" />
  </span>
  <span class="title">Crypto Zone</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <span class="options">
      <h2
        *ngFor="let coin of coins"
        [ngStyle]="{
          color:
            coin.symbol == selectedCoin
              ? 'var(--purple-pizzazz)'
              : 'var(--old-lace)'
        }"
        (click)="selectCoin(coin)"
      >
        {{ coin.symbol }}
      </h2>
    </span>
  </mat-drawer>
  <mat-drawer-content>
    <div class="coin">
      <div class="coin__stats">
        <h1>{{ coin.name }}</h1>
      </div>

      <app-ticker [selected]="selectedCoin"></app-ticker>
      <app-coin-stats [coin]="coin"></app-coin-stats>
    </div>
    <div class="general">
      <app-market-cap></app-market-cap>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
